{% extends 'store/main.html' %}
{% load static %}

{% block mainHead%}
<link rel="stylesheet" type="text/css" href="{% static 'css/login.css'%}">
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<!--<div class="container py-5">-->
<!--  <h1>Login</h1>-->
<!--  <form method="POST">-->
<!--    {% csrf_token %}-->
<!--    {{ login_form|crispy }}-->
<!--    <button class="btn btn-primary" type="submit">Login</button>-->
<!--  </form>-->
<!--  <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>-->
<!--</div>-->
<section>
<div class="container h-100 login-container">
		<div class="d-flex justify-content-center h-100">
			<div class="user_card" style="width:400px; height:500px">
				<div class="d-flex justify-content-center">
					<div class="brand_logo_container">
						<img src="{% static 'images/user-plus-icon2.png'%}" class="brand_logo" alt="Logo">
					</div>
				</div>
				<div class="d-flex justify-content-center form_container mt-20">
					<form method="POST">
                {% csrf_token %}
<!--		        {{ register_form|crispy}}-->
                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-user"></i></span>
                    </div>
                    {{ register_form.username }}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    </div>
                    {{ register_form.email}}
                </div>

                <div class="input-group mb-3">
<!--                  <input type="password" id="form3Example4cg" class="form-control form-control-lg" />-->
<!--                  <label class="form-label" for="form3Example4cg">Password</label>-->
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                    </div>
                    {{ register_form.password1}}
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fa fa-key"></i></span>
                    </div>
                    {{ register_form.password2}}
                </div>

                <div class="form-check d-flex mb-3">
                  <input class="form-check-input me-2 pe-2" type="checkbox" value="" id="form2Example3cg" required/>
                  <label class="form-check-label" for="form2Example3cg">
                    I agree all statements in <a href="#" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
<!--                  <button type="button"-->
<!--                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>-->
                    <input class="btn login_btn" type="submit" value="Submit"/>
                </div>

                <p class="d-flex justify-content-center links">Have already an account? <a href="{% url 'login' %}"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>
				</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}

